@import "https://fonts.googleapis.com/css2?family=Poppins&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: 0
}

body {
    color: #fff;
    background-color: #121212;
    height: 100%;
    width: 100%;
    padding: 12px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal
}

section {
    display: flex;
    flex-flow: nowrap column;
    align-items: center
}

section>.div-top>img {
    width: 120px;
    height: 120px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 100px;
    border: 3px solid #fff
}

.div-top {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    height: 50%;
    margin: auto
}

.div-btn {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
    height: 50%;
    margin: auto
}

footer {
    height: 5%;
    text-align: center
}

.center-text {
    text-align: center
}

.top-margin {
    margin-top: 5px
}

.text-desc {
    color: #bdbdbd;
    padding: 5px 12px
}

section>a {
    text-decoration: none
}

.btn {
    text-align: center;
    margin-top: 18px;
    text-decoration: none;
    color: #fff;
    background-color: #651fff;
    padding: 12px 20px;
    border-radius: 18px 5px 18px 5px;
    width: 80vw;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0
}

.btn:before {
    content: "";
    background: linear-gradient(45deg, red, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, red);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 18px 5px 18px 5px;
    color: #651fff
}

.btn:active {
    color: #000
}

.btn:active:after {
    background: transparent
}

.btn:hover:before {
    opacity: 1
}

.btn:hover:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 18px 5px 18px 5px;
    color: #651fff
}

.text-footer {
    margin-top: 50px;
    color: #bdbdbd;
    text-align: center
}

.info {
    color: #daa520;
    font-size: 10pt
}

.contribuicao-text {
    text-decoration: underline;
    color: #fff;
    text-align: center;
    font-size: 7pt
}

.bg-loader {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(10, 10, 10, 0.5);
    height: 100%;
    width: 100%
}

.c-loader {
    animation: is-rotating 1s infinite;
    border: 6px solid #212121;
    border-radius: 50%;
    border-top-color: #651fff;
    height: 50px;
    width: 50px
}

@keyframes glowing {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 400% 0
    }

    100% {
        background-position: 0 0
    }
}

@keyframes is-rotating {
    to {
        transform: rotate(1turn)
    }
}

.text-links-verify {
    margin-top: 10px;
    color: #fff;
    font-weight: bold
}